.git
.gitignore
node_modules
vendor
npm-debug.log
yarn-error.log
public/build
bootstrap/cache/*.php

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

.env
.env.*
tests
README.md
prod.dockerfile
